<%= form_for(@grupo_de_despesa) do |f| %>
  <% if @grupo_de_despesa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grupo_de_despesa.errors.count, "error") %> prohibited this grupo_de_despesa from being saved:</h2>

      <ul>
      <% @grupo_de_despesa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :data_das_despesas %><br />
    <%= f.text_field :data_das_despesas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
