<%= form_for(@representante) do |f| %>
  <% if @representante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@representante.errors.count, "error") %> prohibited this representante from being saved:</h2>

      <ul>
      <% @representante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :nome_abrev %><br />
    <%= f.text_field :nome_abrev %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :telefone1 %><br />
    <%= f.text_field :telefone1 %>
  </div>
  <div class="field">
    <%= f.label :telefone2 %><br />
    <%= f.text_field :telefone2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
