<p id="notice"><%= notice %></p>

<p>
  <b>Data da venda:</b>
  <%= @venda.data_da_venda.strftime "%d/%m/%Y" %>
</p>

<p>
  <b>Resposavel pela venda:</b>
  <%= (@venda.resposavel_pela_venda.nil?) ? link_to(@venda.representante.nome, @venda.representante) : @venda.resposavel_pela_venda %>
</p>

<p>
  <b>Cliente:</b>
  <%= link_to @venda.cliente.nome, @venda.cliente %>
</p>

<p>
  <b>Usuario:</b>
  <%= @venda.usuario.username %>
</p>


<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
